@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    overflow-y: auto; 
    overflow-x: hidden; 
}





.section {
    height: 100vh; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    overflow: hidden; 
    margin: 0; 
    max-width: none; 
    justify-content: center;
    padding: 20px; 
    max-width: 100%;
}








/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  color: white;
  background-color: #16161600; /* Fully transparent */
  transition: background-color 0.6s ease-in-out;
  z-index: 1000;
}


.navbar.scrolled {
  background-color: #141414; /* Semi-transparent black background */
}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}


nav ul li {
  margin: 0 35px;
}


nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


nav ul li:hover a {
  color: #FFD700; /* Gold hover effect */
  text-decoration: underline;
  text-decoration-color: #FFD700;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}


.Inicio {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #FFD700;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}


.logo1 {
  position: fixed;
  height: 35px;
  width: auto;
  top: 6px;
  left: 20px;
}


.logo1:hover {
  opacity: 0.6;
}

/* Navbar styles */














.section:nth-child(1) {
    background-image: url('../Media/enhanced.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Adjust text color for readability */
    z-index:1;
    height: 100vh;
}

.video-de-fondo{
    height: 866.8px;
    z-index: 1;
    margin-top: -325.6px;
  }

  .video-controles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: -79.4px;
  left: 750.2px;
  z-index: 4;
}
  
  .controles-de-video {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .controles-de-video:hover {
    background-color: gray; /* Change color on hover */
  }
  

  .tarjeta-info {
    height: 312.2px;
    width: 327.0px;
    background-color: #ffffff;
    z-index: 2;
    margin-top: -405.4px;
    margin-left: -1035.0px;
  }

  .texto-principal, .titulo-principal{
    color: #000;
    text-align: start;
    font-size: 112.5%;
    line-height: 1.5555555556;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: normal;
    margin-left: 42.8px;
    margin-top: 15.8px;
  }

  .titulo-principal {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 32.0px;
    width: 241.2px;
  }

  .hero__button-container {
    height: 47.4px;
    width: 255px;
    background-color: #000000;
    margin-left: 39.6px;
    margin-top: 21.0px;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}



  .hero__button button button--chevron{
 color: white;   
text-decoration: none;
}

.hero__button-container .hero__button:visited {
    color: inherit; /* Prevent blue color for visited links */
  }


  .tarjeta-info:hover  {
    background-color: rgb(0, 0, 0); /* Change background */
}
.tarjeta-info:hover .titulo-principal,
.tarjeta-info:hover .texto-principal
{
 color: white; /* Change text to white */
}


.tarjeta-info:hover .hero__button-container {
    background-color: white; /* Button background turns white */
    color: black; /* Button text turns black */
  }

  .do {
   opacity: 1;
  }



  .Horario {
    color: #000;
    position: relative;
    top: 71.8px;
    width: 507.2px;
  }








.section:nth-child(2) {
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Adjust text color for readability */
    background-color: #f1f1f1; 
    height: 100vh;
}


.titulo-2 {
  color: #000;
  margin-top: -110.2px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  margin-left: -773.4px;
}

.enlace-galeria {
  background-color: #aa8e62;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  margin-top: -43.2px;
  margin-bottom: 26px;
  margin-left: 877.6px;
}

  .linea-divisoria {
    height: 1.8px;
    width: 978.6px;
    background-color: #00000017;
    margin-bottom: 28.8px;
  }

.seccion-tarjeta{
    display: flex;
    gap: 35.4px;
    justify-content: center;
    flex-wrap: wrap;
  }

.tarjeta{
  height: 378.2px;
  width: 301.8px;
  background-color: #aa8e62;
}


.seccion-imagen{
    height: 356.2px;
  }

  .texto-1{
    color: #000;
    margin-top: 27.2px;
text-align: start;  
font-size: 1.2rem;
line-height: 1.5;}


  .Tlt1{
    font-size: 1.35rem;
  }

  .golink {
    height: 30px;
    width: 30px;
    border-radius: 72px;
    background-color: #aa8e62;
    margin-top: 15.8px;
}

.icon{
margin-top: 7.2px;    
}

















.section:nth-child(3) {
    background-color: #f1f1f1; /* Original red section */
    color: #fff;
 min-height: 108vh;
display: flex;
flex-direction: row;
font-family: "Atkinson Hyperlegible Next", sans-serif;
}



.seccion-imagen-A, .seccion-imagen-B{
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 20px;
}

.seccion-imagen-A{
  margin-top: -50.8px;
  margin-left: -1300.2px;
}




.seccion-imagen-B{
  margin-top: 573.6px;
  margin-left: -1668.6px;
}


.tarjeta-info-2 {
  display: flex;
  height: 321.6px;
  width: 658.4px;
  background: rgba(241, 241, 241, 0.77);
  backdrop-filter: blur(5px);
  z-index: 4;
  margin-top: 234.4px;
  margin-left: -1858.8px;
  border-radius: 1px;
}


.titulo-3, .Title6{
  color: #000000e0;
  z-index: 6;
  align-items: center;
  font-size: 38.6px;
  display: flex;
  position: relative;
  font-family: "Atkinson Hyperlegible Next", sans-serif;

}
.titulo-3{
top: -273.2px;
  left: -227.4px;  
}

.titulo-4 {
  color: #000;
  font-size: 31.8px;
  text-align: start;
  margin-left: 0.6px;
  line-height: 114.2px;
}



.Text4 {
  color: #000;
  text-align: start;
  font-size: 1.125rem;
  width: 588.2px;
  margin-left: 18.4px;
}




.hero__button-container2, .hero__button-container3 {
  height: 47.4px;
  background-color: #000000;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 60px;
  width: 403px;
}

.hero__button-container2 {
  top: 252.4px;
  left: -586.4px;
}

.hero__button-container3 {
  top: 252.6px;
  left: -560.6px;
}

  .hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    width: 157px;
  }















.section:nth-child(4) {
  background-color: #f1f1f1;
  color: #000;
  height: 70vh;
}


  .tarjeta-info-3 {
    height: 275.6px;
    width: 1193.8px;
    margin-top: 11px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    align-items: center;
    display: contents;
  }




  .imagen1{
    max-width: 87%;
    max-height: 100%;
    object-fit: cover;
    display: block;
  }


.hero__button-container4, .hero__button-container5 {
  height: 47.4px;
  background-color: #000000;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 60px;
  width: 248.4px;
  text-decoration: none;
}

.hero__button-container4 {
  margin-left: 1053.6px;
  margin-bottom: 14.8px;
}




.hero__button1{
  color: rgb(255, 255, 255);
}



.hero__button2{
  color: rgb(0, 0, 0);
text-decoration: none;
}



.hero__button-container5 {
  height: 47.4px;
  background-color: #ffffff;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  position: relative;
  padding: 10px 60px;
  width: 238.0px;
}





.titulo-5 {
  font-size: 90px;
  color: white;
  margin-top: -260.4px;
  margin-bottom: 35.4px;
}

.hero1 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 12px;
}



























.section:nth-child(5) {
    height: 100vh; /* Make it consistent with other sections */
    background-color: #ffffff; /* Adjust as needed */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: row;
  gap: 22px;
text-align:start ;
}


.tarjeta-info-4{
  background-color: #f4f4f4;;
  height: 694px;
  width: 640px;
overflow: hidden;
}



.imagen-tarjeta {
  height: 422.2px;
  margin-left: -55.8px;

}

.imagen-tarjeta-2 {
  height: 422.2px;
  margin-left: -292px;
}



.enlace-Presupuesto {
  text-decoration: none;
  font-size: 30px;
  
}
.enlace-galeria:visited{
  color: #000;
  color: inherit;
}

.texto-3, .texto-4 {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 18px;
  color: gray;
  margin-bottom: 34.2px;
  line-height: 28.6px;
}



.west{
  margin-top: 15.2px;
  margin-bottom: 22.6px;
}



.texto-2 {
  margin-left: 31.8px;
  margin-top: 15.6px;
}

.texto-destacado{
color: #000;  
}























.section:nth-child(6) {
  height: 60vh;
  background-color: #f1f1f1;
  color: #000;
}


.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.holo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63.4px;
  flex-wrap: wrap;
  height: 51px;
}
.logos-patrocinadores {
  transition: transform 0.3s ease-in-out;
  will-change: transform; /* Optimizes animation performance */
}

.logos-patrocinadores:hover {
  transform: scale(1.2);
}

.logoA {
  height: 81.2px;
}

.texto-5 {
  font-size: 18px;
  margin-left: 116.2px;
  margin-top: -103.4px;
  margin-bottom: 49.4px;
  max-width: 600px; /* Prevents text from stretching */
  margin-bottom: 20px;}




















.section:nth-child(7) {
  height: 100vh; /* Make it consistent with other sections */
  background-color: #a3a3a3; /* Adjust as needed */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: row;
gap: 22px;
text-align:start ;
}



#news-container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.article:last-child {
  border-bottom: none;
}

.article h2 {
  color: #333;
  font-size: 24px;
}

.article p {
  color: #555;
}

.article .date {
  font-size: 12px;
  color: #888;
}







































































  



























